{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 mb-3">
    <div class="row d-flex gap-2 flex-wrap">
        {% for property in pagination.items %}
            <div class="col-md-3 mb-3">
                <div class="card shadow cardHome">
                    <img src={{ image }} class="card-img-top" alt="un appartement">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div>
                            <p class="card-text">Type : {{ property.typeLocal }}</p>
                            <p class="card-text">Localisation : {{ property.codePostal }}</p>
                            <p class="card-text">Surface : {{ property.surfaceReelleBati }} m²</p>
                        </div>
                        <a href={{ path('app_pdp', { 'id': property.id }) }} class="btn btn-primary">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

	

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
