{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<h1 class="text-center">{{titlePage}}</h1>

<section class="mx-5">
    {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{form_end(form)}}
</section>

{% endblock %}
