{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<h1 class="text-center">Liste des biens dans la BDD</h1>

<section class="d-flex justify-content-center">
    <p><a href={{path('app_dashoard_user')}} class="btn btn-primary me-5">Liste des users</a></p>
    <p><a href={{path('app_dashoard')}} class="btn btn-primary">Dashboard</a></p>
</section>


    <section id="bienAdminList">
        {% for bien in biens |slice(0,5) %}
        <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
            <h3 class="me-5 px-3 text-end">{{head[0]}} : {{bien.id}}</h3>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">{{head[1]}} : {{bien.natureMutation}}</p>
                <p class="me-5 px-3">{{head[2]}} : {{bien.noVoie}}</p>
                <p class="me-5 px-3">{{head[4]}} : {{bien.typeVoie}}</p>
                <p class="me-5 px-3">{{head[5]}} : {{bien.codeVoie}}</p>
                <p class="me-5 px-3">{{head[6]}} : {{bien.voie}}</p>
                <p class="me-5 px-3">{{head[7]}} : {{bien.codePostal}}</p>
                <p class="me-5 px-3">{{head[8]}} : {{bien.commune}}</p>
            </div>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">{{head[19]}} : {{bien.dateCreationAnnonce}}</p>
                <p class="me-5 px-3">{{head[20]}} : {{bien.dateDesactivationAnnonce}}</p>
                <p class="me-5 px-3">{{head[21]}} : {{bien.dateMutation}}</p>
                <p class="me-5 px-3">{{head[22]}} : {{bien.user}}</p>
                <p class="me-5 px-3">{{head[23]}} : {{bien.valeurFonciere}}</p>
            </div>
            <div class="d-flex justify-content-end">
                <a href={{path('app_show_bien', {id: bien.id})}} class="btn btn-primary me-2">View</a>
                <a href={{path('app_edit_bien', {id: bien.id})}} class="btn btn-primary me-2">Update</a>
                <button>Delete</button>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}