{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
    <section>
        <a href={{path('app_dashoard')}}>Bien Immobilier</a>
        <a href={{path('app_dashoard_user')}}>Users</a>
    </section>


    <table class="table table-sm">
        <thead>
            <tr>
            {% for header in head %}
                 <th>{{header}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for user in users %}
                    <th>{{user.id}}</th>
                    <th>{{user.email}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{user.telephone}}</th>
                    <th>{{user.noVoieUser}}</th>
                    <th>{{user.voieUser}}</th>
                    <th>{{user.typeVoieUser}}</th>
                    <th>{{user.codePostalUser}}</th>
                    <th>{{user.country}}</th>
                    <th>{{user.communeUser}}</th>
                    <th>{{user.codeDepartementUser}}</th>
                    <th></th>
                    <th>{{user.nom}}</th>
                    <th>{{user.prenom}}</th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
