{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<h1 class="text-center">Liste des biens dans la BDD</h1>

<section class="d-flex justify-content-center">
    <p><a href={{path('app_dashboard_user')}} class="btn btn-primary me-5">Liste des users</a></p>
    <p><a href={{path('app_dashboard')}} class="btn btn-primary">Dashboard</a></p>
</section>


    <section id="bienAdminList">
        {% for bien in pagination.items %}
        <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
            <h3 class="me-5 px-3 text-end">id : {{bien.id}}</h3>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">Nature Mutation : {{bien.natureMutation}}</p>
                <p class="me-5 px-3">N° de voie : {{bien.noVoie}}</p>
                <p class="me-5 px-3">Type de voie : {{bien.typeVoie}}</p>
                <p class="me-5 px-3">Code de voie : {{bien.codeVoie}}</p>
                <p class="me-5 px-3">Voie : {{bien.voie}}</p>
                <p class="me-5 px-3">Code Postal : {{bien.codePostal}}</p>
                <p class="me-5 px-3">Commune : {{bien.commune}}</p>
            </div>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">Date de création : {{bien.dateCreationAnnonce}}</p>
                <p class="me-5 px-3">Date de désaction : {{bien.dateDesactivationAnnonce}}</p>
                <p class="me-5 px-3">Date de mutation : {{bien.dateMutation}}</p>
                <p class="me-5 px-3">user : {{bien.user}}</p>
                <p class="me-5 px-3">Valeur foncière : {{bien.valeurFonciere}}</p>
            </div>
            <div class="d-flex justify-content-end">
                <a href={{path('app_show_bien', {id: bien.id})}} class="btn btn-primary me-2">View</a>
                <a href={{path('app_edit_bien', {id: bien.id})}} class="btn btn-primary me-2">Update</a>
                <button>Delete</button>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}