{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{{bien.id}}{% endblock %}

{% block body %}
<h1>Edit bien n° {{bien.id}}</h1>
<section>
    {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{form_end(form)}}
</section>


{% endblock %}