{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<h1 class="text-center"> Dashboard Admin</h1>

<section class="d-flex justify-content-center">
    <p><a href={{path('app_dashboard_bien')}} class="btn btn-primary me-5">Liste des biens</a></p>
    <p><a href={{path('app_dashboard_user')}} class="btn btn-primary">Liste des users</a></p>
</section>

<section class="d-flex justify-content-end">
    <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
        <h5>Nombre de biens dans la base de données</h5>   
        <p>{{biensSlice| length}}</p> 
    </div>
    <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
        <h5>Nombre de users dans la base de données</h5>
        <p>{{users| length}}</p>
    </div>
</section>

<section class="my-4">
    <h4 class="text-center">Les derniers biens enregistrés</h4>
    {% for bien in biensSlice  %}
        <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
            <h3 class="me-5 px-3 text-end">Id : {{bien.id}}</h3>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">Nature mutation : {{bien.natureMutation}}</p>
                <p class="me-5 px-3">N° de voie : {{bien.noVoie}}</p>
                <p class="me-5 px-3">Type de voie : {{bien.typeVoie}}</p>
                <p class="me-5 px-3">Code de la voie : {{bien.codeVoie}}</p>
                <p class="me-5 px-3">Voie : {{bien.voie}}</p>
                <p class="me-5 px-3">Code Postal : {{bien.codePostal}}</p>
                <p class="me-5 px-3">Commune : {{bien.commune}}</p>
            </div>
            <div class="d-flex px-3 py-2">
                <p class="me-5 px-3">Date création: {{bien.dateCreationAnnonce}}</p>
                <p class="me-5 px-3">Date désactivation : {{bien.dateDesactivationAnnonce}}</p>
                <p class="me-5 px-3">Date mutation : {{bien.dateMutation}}</p>
                <p class="me-5 px-3">Valeur foncière : {{bien.valeurFonciere}}</p>
            </div>
            <div class="d-flex justify-content-end">
                <a href={{path('app_show_bien', {id: bien.id})}} class="btn btn-primary me-3">View</a>
            </div>
        </div>
        {% endfor %}
</section>
<section class="my-4">
    <h4 class="text-center">Les derniers users enregistrés</h4>
    {% for user in users %}
    <div class="mx-5 mb-5 rounded-1 border border-secondary bg-secondary text-white">
        <h3 class="text-end">User id : {{user.id}}</h3>
        <div class="d-flex px-3 py-2">
            <p class="me-5 px-3">Email : {{user.email}}</p>
            <p class="me-5 px-3">Rôles : </p>
            <p class="me-5 px-3">Mot de passe : {{user.password}}</p>
            
        </div>
        <div class="d-flex px-3 py-2">
            <p class="me-5 px-3">Pays : {{user.country}}</p>
            <p class="me-5 px-3">Nom : {{user.nom}}</p>
            <p class="me-5 px-3">Prénom : {{user.prenom}}</p>
            <p class="me-5 px-3">Actif : {{user.isActive}}</p>
        </div>
        <div class="d-flex justify-content-end">
            <a href={{path('app_show_user', {id: user.id})}} class="btn btn-primary me-3">View</a>
        </div>
    </div>    
    {% endfor %} 
</section>


{% endblock %}
