{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<h1>Bien n° {{bien.id}}</h1>

<p class="mx-5">Nature Mutation : {{bien.natureMutation}} </p>
<p class="mx-5">Type Local : {{bien.typeLocal}} </p>
<section class="d-flex">
    <p class="mx-5">N° de voie :  {{bien.noVoie}}</p>
    <p class="mx-5">BTQ :  {{bien.bTQ}}</p>
    <p class="mx-5">Type voie :  {{bien.typeVoie}}</p>
    <p class="mx-5">Code voie :  {{bien.codeVoie}}</p>
    <p class="mx-5">Voie :  {{bien.voie}}</p>
    <p class="mx-5">Code Postal :  {{bien.codePostal}}</p>
    <p class="mx-5">Commune :  {{bien.commune}}</p>
</section>
<section class="d-flex">
    <p class="mx-5">Section :  {{bien.section}}</p>
    <p class="mx-5">Nombre de lots :  {{bien.nbLots}}</p>
    <p class="mx-5">Code type local:  {{bien.codeTypeLocal}}</p>
    <p class="mx-5">Superficie :  {{bien.surfaceReelleBati}}</p>
    <p class="mx-5">Nombre de pièces :  {{bien.nbPieces}}</p>
    <p class="mx-5">Superficie terrain :  {{bien.surfaceTerrain}}</p>
    <p class="mx-5">Description :  {{bien.description}}</p>
    <p class="mx-5">DPE :  {{bien.dPE}}</p>
</section>
<section class="d-flex">
    <p class="mx-5">Prix de vente :  {{bien.prixVente}}</p>
    <p class="mx-5">Images :  {{bien.images}}</p>
    <p class="mx-5">Date de création :  {{bien.dateCreationAnnonce}}</p>
    <p class="mx-5">Date de désactivation :  {{bien.dateDesactivationAnnonce}}</p>
    <p class="mx-5">Date de mutation :  {{bien.dateMutation}}</p>
    <p class="mx-5">user :  {{bien.user}}</p>
    <p class="mx-5">Valeur foncière:  {{bien.valeurFonciere}}</p>
    <p class="mx-5">Code département :  {{bien.codeDepartement}}</p>
    <p class="mx-5">Code commune :  {{bien.codeCommune}}</p>
</section>
<div class="d-flex justify-content-end">
    <a href={{path('app_edit_bien', {id: bien.id})}} class="btn btn-primary me-3">Update</a>
    <form action={{ path('app_show_bien', {id: bien.id}) }} method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer le bien {{bien.id}}?');">
    <input type="hidden" name="_token" value={{ csrf_token('delete' ~ bien.id) }}>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
</div>

{% endblock %}